<% provide(:title, "Contact") %>
<div class="contact-page main-page-bk">
  <h2>A Visual Menu</h2>
  <p>
    <div class="container">
		<div class="row">

        <div class="wow fadeInUp col-md-4 col-sm-4" data-wow-delay="1.6s">
          <h3>Contact Detail</h3>
          <p>abunawose@avisualmenu.com</p>
        </div>

        <div class="wow fadeInUp col-md-4 col-sm-4" data-wow-delay="1.9s">
          <h3>Location</h3>
          <strong>Atlanta, GA</strong>
        </div>

		</div>
	</div>

    <!--<a href="https://vizhooals.herokuapp.com">Vizhooals</a>.-->
  </p>
</div>
