<section class='landing-box-container'>
    <div class='landing-box'>
        <img class='landing-phone-img' src="/assets/menu-item-phone.png" alt="">
        <img class='feast-illustration-woman-3' src="/assets/illustration-standing-woman-3.svg" alt="">
        <div class='landing-card landing-card-small'>
            <div class='landing-card-title big'>
                <h3>No app download needed</h3>
            </div>
            <div class='landing-card-content'>
                <p>
                  Your customers don't have to download an app to access your Visual Menu because a Visual Menu is browser first.
                </p>
            </div>
        </div>
    </div>
</section>
