<section class='landing-box-container'>
    <div class='landing-box reverse'>
        <img class='landing-phone-img' src="/assets/no-app-phone.png" alt="">
        <img class='feast-illustration-woman-2' src="/assets/illustration-standing-woman-2.svg" alt="">
        <div class='landing-card landing-card-small'>
            <div class='landing-card-title big'>
                <h3>Easy to access</h3>
            </div>
            <div class='landing-card-content'>
                 <p>
                    Your customers can access your Visual Menu
                    by using a smartphone to scan either the NFC tag or QR code associated with your Visual Menu
                    and it displays on their phone.
                </p>
            </div>
        </div>
    </div>
</section>
