<!--Displays pricing item on pricing box in pricing page.-->
<div class='pricing-box-item'>
    <i class="material-icons pricing-box-item-icon"><%= icon %></i>
    <p class='pricing-box-item-text'><%= text %></p>
</div>