<!-- icon for static navgiation -->
<!-- VARIABLE DOES NOT PASS -->

<a href="mailto:<%= href %>">
    <img style="top: 10px;position: relative;"src="https://img.icons8.com/cotton/64/000000/secured-letter.png">
</a>
<%# link_to "title", url, params}%>
<%# link_to "text_to_show_in_url", action_controller_path(:gender => "male", :param2=> "something_else") %>