<!--The representation of a menu item/micropost partial.-->
<!--Displayed in the feed.html.erb partial.-->
<li class="micropost" id="micropost-<%= dish.id %>">
    <div class='micropost-action' onclick='openModal(this)'>
        <div class='micropost-image-c'>
        <%= image_tag dish.picture.url, class: "mp-image", id: "#{dish.id}", alt: "#{dish.description}", :data => {:title => dish.name, :price => number_to_currency(dish.price), :description => dish.description, :id => dish.id} %>
        </div>
        <div class='micropost-detail'>
        <p><%= dish.name %></p>
        <span class='micropost-detail-price'><%=number_to_currency(dish.price) %></span>
        </div>
    </div>
</li>
<script type='text/javascript'>
  function openModal(props) {
    const {title, price, description, id} = props.querySelector('img').dataset
    document.getElementById('micropost-modal').classList.add('active')
    document.getElementById('mpm-image').src = props.children[0].children[0].src
    document.getElementById('mpm-title').textContent = title
    document.getElementById('mpm-price').textContent = price
    document.getElementById('mpm-description').textContent = description
  }
</script>
