<!--This is the page returned when users clicks edit menu item-->
<% provide(:title, 'Edit Menu Item') %>
<section class="micropost_form">
    <h3>Update Category Item</h3>
    <%= render 'shared/edit_dish_form' %>
</section>