<div id='user-profile-modal' class='user-profile-modal'>
    <div  class='user-profile-close-bg'></div>
    <div class='user-profile-modal-c'>
        <div class='user-header-c'>
            <%= image_tag @user.picture.url, :alt => 'user-image', :id => 'user-image'  if @user.picture? %>
            <%= render partial: '/users/user_header/user_info' %>
        </div>
        <%= render partial: "/users/user_header/social_link_group" %>
    </div>
</div>