@import "const";
.filter-form {
  width: 100% !important;
}
.delete-micropost {
  display: flex;
  margin-bottom: 10px;
  .delete-micropost-btn {
    border: 1px dashed $s-primary;
    padding: 3px 5px;
    padding-right: 10px;
    border-radius: 5px;
    color: $s-primary;
    display: flex;
    align-items: center;
    font-size: 1.1em;
    &:hover {
      background: rgba($s-primary, 0.1);
      color: red;
    }
    span {
      font-size: inherit;
    }
  }
}
.form-component-pic-width {
  display: flex;
  justify-content: center;
  width: calc(100% - 20px);
  padding: 10px;
  border-radius: 10px;
}
.form-component-c {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex !important;
  background-color: white;
  padding: 0 !important;
  margin: 10px 0 0 0;
  border: 1px solid $border;
  // border-radius: $form-comp-size;
  border-radius: $border-radius;

  // transition: 0.1s ease-in-out;
  &:hover {
    border-color: $third;
    // background: linear-gradient(
    //   342deg,
    //   rgba(#ebebeb, 0.3) 0%,
    //   rgba(white, 0) 50%
    // );
    .form-component-btn-c {
      .form-component-btn {
        color: $third;
      }
    }
  }
  &.locked {
    border-color: lighten($s-text-secondary, 25%);
    background: rgba(lighten($s-text-secondary, 25%), 0.05);
    cursor: not-allowed;
    .form-component-btn-c {
      .form-component-btn {
        cursor: default !important;
      }
    }
    // &:hover {
    //   border-color: lighten($s-text-secondary, 25%);
    //   .form-component-btn-c {
    //     .form-component-btn {
    //       color: lighten($s-text-secondary, 25%);
    //     }
    //   }
    // }
    .form-component-btn-c {
      .form-component-btn {
        color: lighten($s-text-secondary, 25%);
      }
    }
    .form-component {
      color: lighten($s-text-secondary, 25%) !important;
    }
  }
  &.fc-max-content {
    min-width: max-content;
  }
  &.picture {
    width: 200px;
    height: 200px;
    border-style: dashed;
    border-radius: 10px;
    padding: 5px;
    margin: 0;
    .form-component {
      padding: 0 !important;
      img {
        width: 100%;
      }
      .image-message {
        // position: absolute;
        z-index: 10;
        top: 0;
        left: 10px;
        color: rgba(white, 0.7);
      }
    }
  }
  &.rotate-icon {
    .form-component-btn-c {
      transform: rotate(90deg);
    }
  }
  &.no-box {
    border: none;
    margin: 15px 0;
  }
  .form-component {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none !important;
    border: none !important;
    font-size: 16px !important;
    background-color: transparent !important;
    color: $primary !important;
    margin: 0 !important;
    padding: 0 15px !important;
    padding-right: $form-comp-size !important;
    cursor: inherit;
    &:hover {
      border-color: $third !important;
    }
    &::placeholder {
      color: $fade;
    }
  }
  .form-component-btn-c {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: $form-comp-size !important;
    .form-component-btn {
      cursor: pointer;
      outline: none !important;
      display: flex !important;
      align-items: center;
      justify-content: center;
      color: $primary;
      border: none !important;
      background: transparent;
      font-size: 16px !important;
      padding: 0px !important;
      border-radius: $form-comp-size !important;
    }
  }
}
.fc-point {
  cursor: pointer !important;
}
.fc-active {
  border-color: $third !important;
}
.fc-min-width {
  @media (min-width: 450px) {
    min-width: 400px;
  }
}
.fc-box-width {
  min-width: 446px;
}
.fc-hide {
  display: none !important;
}
.fc-small {
  height: $form-comp-size !important;
  line-height: $form-comp-size !important;
}
.fc-big {
  line-height: 40px;
  // border-radius: 10px !important;
}
.fcb-icon-behind {
  z-index: -99;
}
.fcb-small {
  height: $form-comp-size !important;
  line-height: $form-comp-size !important;
  width: $form-comp-size !important;
}
.fcb-active {
  height: $form-comp-size !important;
  line-height: $form-comp-size !important;
  width: 100px !important;
}
.fcb-hover {
  &:hover {
    background-color: $third !important;
    color: $secondary !important;
  }
}

.categories_select{
  font-size: 16px;
  padding: 10px 8px 10px 14px;
  background: #fff;
  //border: 1px solid #504949;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  width: 200%;
  //margin-top: 13px;
  //right: 55%;
}

.categories_select .select{
  width: 82%;
  //background:url('arrow.png') no-repeat;
  background-position:80% center;
  color: white;
}

.categories_select .select select{
  line-height: 1;
  border: 0;
  padding: 0;
  border-radius: 0;
  width: 120%;
  position: relative;
  z-index: 10;
  font-size: 16px;
}