// size
$form-comp-size: 40px;
// border-radius
$border-radius: 5px;
//
$s-green: #77dd77;
$s-primary: #ff5f6d;
$s-secondary: #ffc371;
$s-bg-primary: #f5f5f5;
$s-bg-secondary: #faf6f4;
$s-bg-third: #fff;
$s-text-primary: #1f1f1f;
$s-text-secondary: #4f4f4f;
$s-text-third: #fff;

// colors for user pages
// blue
$bg: #f9f9f9;
$border: #1f1f1f;
$primary: #1f1f1f;
$secondary: #ffffff;
$third_v1: darken(#47bbff, 10%);
$third: darken($third_v1, 25%);
$extra: #f1f1f1;
$fade: #6f6f6f;
$off: #ffb347;

// orange
// $bg: #1f1f1f;
// $border: hsl(0, 0%, 100%);
// $primary: hsl(0, 0%, 100%);
// $secondary: hsl(0, 0%, 100%);
// $third: darken(#ffb347, 10%);
// $extra: #f1f1f1;
// $fade: #c9c9c9;
// $off: darken(#47bbff, 10%);

// red
// $bg: #f9f4d5;
// $border: #1f1f1f;
// $primary: #1f1f1f;
// $secondary: hsl(0, 0%, 100%);
// $third: darken(#ff5c47, 10%);
// $extra: #f1f1f1;
// $fade: #a7a7a7;
// $off: darken(#47c5ff, 10%);
