@import "const";
.margin-top {
  margin-top: 44px;
}
.no-margin-top {
  margin-top: 0;
}

* {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  outline: none;
}
body {
  margin: 0;
  padding: 0;
}

.debug_dump {
  width: 100%;
  overflow: hidden;
}
.category-select {
  @media (max-width: 768px) {
    display: none;
  }
}
.search-option,
.category-select {
  padding: 0 15px;
  margin: 0;
  max-width: 300px;
  @media (max-width: 768px) {
    max-width: 100%;
  }
  &.non-mobile {
    @media (max-width: 768px) {
      display: none;
    }
  }
}

#backToTopBtn {
  position: fixed;
  z-index: 1000;
  top: calc(40px + 10px);
  // left: calc(5
  margin: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 0;
  padding-right: 10px;
  font-size: 2em;
  line-height: 2em;
  background-color: $s-bg-primary;
  border: 1px solid darken($s-bg-primary, 5%);
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  // width: 40px;
  // height: 40px;
  // background-color: rgba($s-text-primary, 0.4);
  // border: 1px solid rgba($s-text-primary, 0.4);
  // border-radius: 10px;
  span {
    display: block;
    font-size: 1em;
    line-height: 1em;
    color: $third;
  }
}

button {
  cursor: pointer;
}

#user-container {
  display: block;
  &.hide {
    display: none;
  }
}

.form-errors {
  background-color: pink;
  box-shadow: inset 0 0 5px 0 rgba(black, 0.2);
  //
  border-radius: 3px;
  margin: 5px;
  width: max-content;
  p {
    padding: 5px 10px;
    margin: 0;
  }
}
.form-message {
  background-color: #c8fdb6;
  box-shadow: inset 0 0 5px 0 rgba(black, 0.2);
  border-radius: 3px;
  p {
    padding: 5px 10px;
    margin: 0;
  }
}

.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-show-edit-title {
  padding-top: 10px;
}
.openCategorySettings {
  cursor: pointer;
  padding: 10px 15px;
}
