@import "const";
// below does not belong here but for the time being...
.gravatar {
  border-radius: 5px !important;
}
// above does not beong here but for the time being...
.user_info {
  margin: 0 !important;
}
.uhome-create-c {
  // background-color: $secondary;
  max-width: 500px;
  margin: 15px;
  //   margin-right: 0;
  border-radius: 5px;
  padding: 15px !important;
}
.user-info-display {
}
.uidisplay-set-picture > a {
  color: $off !important;
  text-decoration: underline !important;
}
.uidisplay-item-count {
  color: $fade !important;
}

.uidisplay-details {
  display: flex;
  flex-direction: column;
}

.uidisplay-name {
  color: $primary !important;
}

.your-vizhooel-button {
  padding: 0 !important;
  background-color: transparent;
  font-size: 15px !important;
  color: $primary !important;
}
.your-vizhooel-button:hover {
  text-decoration: underline;
}

// micropost form
.micropost_form {
  margin: 0 !important;
  padding: 10px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h3 {
    // padding: 20px;
    padding: 20px 0 !important;
    margin: 0;
    color: #4f4f4f;
  }
}
.category-select-form {
}
.menu-item-file label,
// EXMAPLE
// .menu-item-title input,
.category-select-form select,
.menu-item-description textarea {
  width: 100%;
  background-color: transparent;
  outline: none;
  border: 1px solid $border;
  padding: 5px 15px !important;
  // margin: 5px 0 !important;
  border-radius: 40px !important;
  color: $primary;
}
// .create-form-item-effect input:hover,
// .create-form-item-effect input:active,
// .create-form-item-effect input:focus,
// .create-form-item-effect select:hover,
// .create-form-item-effect select:active,
// .create-form-item-effect select:focus,
// .create-form-item-effect textarea:hover,
// .create-form-item-effect textarea:active,
// .create-form-item-effect textarea:focus {
//   background-color: $extra !important;
// }
.menu-item-file {
  width: max-content;
  padding-bottom: 5px !important;
}

// .menu-item-file label {
//   cursor: pointer;
//   background-color: $third;
//   color: $primary;
//   text-align: center;
//   margin-top: 0 !important;
//   padding: 10px 15px !important;
// }
// .menu-item-file label:hover {
//   background-color: lighten(
//     $third,
//     10%
//   );
//   color: $primary;
// }
.menu-item-file label {
  border-color: $third;
  cursor: pointer;
  color: $primary;
  text-align: center;
  margin-top: 0 !important;
  padding: 10px 15px !important;
}
.menu-item-file label:hover {
  background-color: $third;
  color: $primary;
}

.category-select-form {
  // padding: 0 !important;
}
.category-select-form select {
  // background-color: $secondary !important;
}
.menu-item-description textarea {
  border-radius: 10px !important;
}
.menu-item-btn {
  background-color: transparent !important;
  outline: none;
  border: 1px solid $border !important;
  margin: 0 !important;
  border-radius: 40px !important;
  color: $primary !important;
  transition-duration: 0.2s !important;
}

.menu-item-file {
  margin: 0 !important;
}
.file-element {
  display: none !important;
}

.file-label {
}
.create-category-wrapper {
  width: 400px;
  padding: 10px 20px;
  h3 {
    // padding: 20px;
    padding: 20px 0 !important;
    margin: 0;
    color: #4f4f4f;
  }
  &.edit-category {
    display: none;
    &.active {
      display: block;
    }
  }
  @media (max-width: 500px) {
    width: auto;
  }
  // &.small {
  //   form {
  //     display: flex;
  //     .edit-submit {
  //       height: 30px;
  //       .fc-small-edit {
  //         height: 30px !important;
  //         line-height: 30px !important;
  //         .form-component-btn-c {
  //           .fcb-small {
  //             width: 30px !important;
  //             height: 30px !important;
  //             line-height: 30px !important;
  //             font-size: 30px;
  //           }
  //         }
  //       }
  //       &:hover {
  //         color: $third;
  //       }
  //     }
  //     .form-component-c {
  //       margin: 0;
  //       .form-component {
  //         &.fc-small-edit {
  //           height: 30px !important;
  //           line-height: 30px !important;
  //           .form-component-btn-c {
  //             .fcb-small {
  //               height: 30px !important;
  //               line-height: 30px !important;
  //             }
  //           }
  //         }
  //       }
  //       .form-component-btn {
  //         height: 30px !important;
  //         width: 30px !important;
  //         line-height: 30px !important;
  //       }
  //     }
  //   }
  // }
}

.categories-wrapper {
  h3 {
    padding: 20px;
    margin: 0;
    color: $s-text-secondary;
  }
}
